[part~=popover] {
  background: #FFF;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--mdi-dropdown-border-color);
}

[part~=arrow],
[part~=arrow]::before {
  position: absolute;
  width: 10px;
  height: 10px;
}

[part~=arrow]::before {
  content: '';
  transform: rotate(45deg);
  background: #FFF;
}

[part~=popover][data-popper-placement^='top'] > [part~=arrow] {
  bottom: -5px;
}
[part~=popover][data-popper-placement^='top'] > [part~=arrow]::before {
  border-bottom: 4px solid var(--mdi-dropdown-border-color);
  border-right: 4px solid var(--mdi-dropdown-border-color);
  border-bottom-right-radius: 0.25rem;
}

[part~=popover][data-popper-placement^='bottom'] > [part~=arrow] {
  top: -10px;
}
[part~=popover][data-popper-placement^='bottom'] > [part~=arrow]::before {
  border-top: 4px solid var(--mdi-dropdown-border-color);
  border-left: 4px solid var(--mdi-dropdown-border-color);
  border-top-left-radius: 0.25rem;
}

[part~=popover][data-popper-placement^='left'] > [part~=arrow] {
  right: -5px;
}

[part~=popover][data-popper-placement^='right'] > [part~=arrow] {
  left: -5px;
}