:host {
  display: block;
  font-family: var(--mdi-font-family);
}

[part="tabset"] {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

[part="tab"] {
  margin-right: 0.25rem;
}

[part="button"] {
  position: relative;
  display: flex;
  line-height: calc(2.5rem - 0.5px);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 0;
  border-left: 1px solid transparent;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0 0.75rem;
  text-decoration: none;
  color: var(--mdi-tab-border, #453C4F);
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}

[part="tab"].active [part="button"] {
  border-color: var(--mdi-tab-border, #453C4F);
  font-weight: bold;
  background: #fff;
  cursor: default;
  height: calc(2.5rem + 0.5px);
}

[part="button"]:not(.active):hover {
  border-color: var(--mdi-tab-border, #453C4F);
}

[part="button"]:active::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: 0;
  left: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: 0 0 0 3px var(--mdi-search-focus-glow, rgb(79, 143, 249, 0.6));
}

[part="button"]:focus::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: 0;
  left: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: 0 0 0 3px var(--mdi-search-focus-glow, rgb(79, 143, 249, 0.5));
}