:host {
  display: flex;
  flex-direction: column;
}

.blank {
  color: var(--mdi-input-check-blank-color, #453C4F);
}
.blank [part="check"] {
  visibility: hidden;
}

.checked {
  color: var(--mdi-input-check-checked-color, #453C4F);
}

[part="list"] {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0.25rem 0;
}

[part="list"] li {
  display: flex;
  flex-direction: column;
}

[part="list"] li:not(:last-child) {
  margin-bottom: 0.25rem;
}

[part="list"] button {
  display: flex;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 0.25rem;
  align-items: center;
  background: transparent;
}

[part="svg"] {
  width: var(--mdi-icon-check-size, 1.5rem);
  height: var(--mdi-icon-check-size, 1.5rem);
}

[part="list"] button span {
  margin-left: 0.25rem;
}

[part="list"] button:not(:hover):active {
  box-shadow: 0 0 0 3px var(--mdi-input-check-active-glow, rgb(79, 143, 249, 0.6));
}
[part="list"] button:not(:hover):focus:not(:focus-visible) {
  box-shadow: none;
}
[part="list"] button:not(:hover):focus-visible {
  box-shadow: 0 0 0 3px var(--mdi-input-check-focus-glow, rgb(79, 143, 249, 0.5));
}
[part="list"] button:not(:disabled):hover [part="path"] {
  fill: #4f8ff9;
}
[part="list"] button:not(:disabled):hover span {
  color: #4f8ff9;
}
[part="list"] button:disabled {
  color: #AAA;
}