:host {
  display: block;
}
header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-row: 1;
  grid-column: 1 / span 2;
  background: var(--mdi-header-background, #fff);
  color: var(--mdi-header-color, #453C4F);
  font-family: var(--mdi-font-family);
  height: 3rem;
}
header > a {
  grid-column: 1;
  display: inline-flex;
  color: var(--mdi-header-color, #453C4F);
  text-decoration: none;
  align-items: center;
}
header > a svg,
header > a slot::slotted(svg) {
  display: inline-flex;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0 0.75rem 0 1rem;
}
header > a > span {
  display: inline-flex;
  color: var(--mdi-header-color, #453C4F);
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
  padding-bottom: 1px;
}
header > div {
  display: flex;
  grid-column: 2;
  justify-self: right;
  margin-right: 1rem;
}