[part="button"] {
  display: inline-flex;
  align-items: center;
  align-content: center;
  font-family: var(--mdi-font-family);
  font-size: 1rem;
  line-height: 1.5rem;
}

[part="button"]:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

[part="button"] {
  border: 1px solid var(--mdi-button-border-color, #453C4F);
  background-color: var(--mdi-button-background-color, #fff);
  color: var(--mdi-button-color, #453C4F);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  --mdi-icon-color: var(--mdi-button-color, #453C4F);
}

[part="button"]:hover {
  border: 1px solid var(--mdi-button-hover-border-color, #453C4F);
  background-color: var(--mdi-button-hover-background-color, #453C4F);
  color: var(--mdi-hover-button-color, #fff);
  --mdi-icon-color: var(--mdi-button-hover-color, #fff);
}

::slotted {
  align-self: center;
}