[part~=button] {
  display: inline-flex;
  align-items: center;
  font-family: var(--mdi-font-family);
  font-size: 1rem;
  line-height: 1.5rem;
}

[part~=button]:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

[part~=button].base {
  border: 1px solid #4281E9;
  background: #4281E9;
  color: #FFF;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  --mdi-icon-color: #FFF;
}

[part~=button].base:hover {
  background-color: #4F8FF9;
}

[part~=button].base-inverse {
  border: 1px solid #F1F1F1;
  background: #FFF;
  color: #4281E9;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  --mdi-icon-color: #4281E9;
}