:host {
  display: inline-flex;
  color: var(--mdi-icon-color, #222);
}

[part=svg] {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 1;
}

[part="grid"] {
  position: relative;
  background-image:
    repeating-linear-gradient(rgba(83, 137, 164, 0.5) 0 2px, transparent 2px 100%),
    repeating-linear-gradient(90deg, rgba(83, 137, 164, 0.5) 0 2px, transparent 2px 100%);
  background-size: var(--mdi-preview-size, 4px) var(--mdi-preview-size, 4px);
  background-position: calc(var(--mdi-preview-size, 4px) - 1px) calc(var(--mdi-preview-size, 4px) - 1px);
}

[part="grid"]::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  background-image:
    repeating-linear-gradient(#5389a4 0 2px, transparent 2px 100%),
    repeating-linear-gradient(90deg, #5389a4 0 2px, transparent 2px 100%);
  background-size: calc(var(--mdi-preview-size, 4px) * 4) calc(var(--mdi-preview-size, 4px) * 4);
  background-position: calc(var(--mdi-preview-size, 4px) * 4 - 1px) calc(var(--mdi-preview-size, 4px) * 4 - 1px);
}
