:host {
  display: block;
  color: #453C4F;
}

blockquote {
  border-left: 4px solid #453C4F;
  padding: 0.25rem 0.5rem;
  margin: 1rem 0;
}

pre {
  background: #222;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #EEE;
  font-size: 0.875rem;
  overflow: auto;
}

table {
  border-radius: 0.25rem;
  border-spacing: 0;
  margin: 1rem 0;
}
table tr th {
  text-align: left;
  padding: 0.125rem 0.25rem;
}
table tr td {
  padding: 0.125rem 0.25rem;
}
table tr:nth-child(1) td {
  border-top: 1px solid #453C4F;
}
table tr:nth-child(1) td:first-child {
  border-radius: 0.25rem 0 0 0;
}
table tr:nth-child(1) td:last-child {
  border-radius: 0 0.25rem 0 0;
}
table tr td:first-child {
  border-left: 1px solid #453C4F;
}
table tr:last-child td {
  border-bottom: 1px solid #453C4F;
}
table tr td:last-child {
  border-right: 1px solid #453C4F;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 0.25rem;
}
table tr:last-child td:last-child {
  border-radius: 0 0 0.25rem 0;
}
table tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
table tr td:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 1rem 0;
}

img {
  border: 0.25rem solid var(--site-color);
  border-radius: 0.25rem;
}

a {
  color: #278eca;
}

p code,
ul code,
table code {
  display: inline-block;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.125rem 0.25rem;
  border-radius: 0.125rem;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(69, 60, 79, 0.2);
  line-height: 1.125rem;
}

p code a,
ul code a,
table code a {
  text-decoration: underline;
}

table code {
  transform: translateY(-1px);
}

p > svg.icon,
blockquote > svg.icon,
p > a.icon > svg.icon,
blockquote > a.icon > svg.icon,
th > svg.icon,
th > a.icon > svg.icon,
td > svg.icon,
td > a.icon > svg.icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

p > a.button {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  background: linear-gradient(to bottom, #775b75 0%,#453C4F 100%);
  border-radius: 0.25rem;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

p > a.button:hover {
  background: linear-gradient(to bottom, #7952b3 0%,#6c47a3 100%);
}

p > a.button > svg.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -0.125rem;
  margin-right: 0.25rem;
}

/* PrismJS 1.15.0
/**
 * prism.js Visual Studio Code Theme
 * @author Visual Studio Code
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #9CDCFE;
   background: none;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;

   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;

 }

 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
 }

 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #1E1E1E;
 }

 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }

 .token.comment,
 .token.block-comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #608B4E;
 }

 .token.punctuation {
   color: #ccc;
 }

 .token.tag,
 .token.namespace,
 .token.deleted {
   color: #4EC9B0;
 }

 .token.attr-name {
   color: #9CDCFE;
 }

 .token.function-name {
   color: #6196cc;
 }

 .token.boolean {
   color: #569CD6;
 }
 .token.number {
   color: #B5CEA8;
 }
 .token.function {
   color: #DCDCAA;
 }

 .token.property,
 .token.constant,
 .token.symbol {
   color: #f8c555;
 }

 .token.class-name {
   color: #4EC9B0;
 }

 .token.selector,
 .token.important,
 .token.atrule,
 .token.keyword,
 .token.builtin {
   color: #C586C0;
 }

 .token.string,
 .token.char,
 .token.attr-value,
 .token.regex,
 .token.variable {
   color: #CE9169;
 }

 .token.operator {
   color: #D4D4D4;
 }
 .token.entity,
 .token.url {
   color: #67cdcc;
 }

 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }

 .token.entity {
   cursor: help;
 }

 .token.inserted {
   color: green;
 }
 /* TypeScript */
 .language-jsx .token:not(.keyword) + .token.keyword + .token.keyword + .token.keyword,
 .language-jsx .token:not(.keyword) + .token.keyword + .token.keyword + .token.keyword + .token.class-name + .token.keyword,
 .language-jsx .token.function-variable.function + .token.operator + .token.keyword {
   color: #569CD6;
 }
 /* JSX */
 .language-jsx .language-javascript {
   color: #9CDCFE;
 }
 .language-jsx .language-javascript .token.string {
   color: #CE9169;
 }
 .language-jsx .language-javascript .token.punctuation {
   color: #3F9CD6;
 }
 .language-jsx .language-javascript .script-punctuation + .token.punctuation + .token.punctuation {
   color: #D4D4D4;
 }
 .language-jsx .language-javascript .script-punctuation + .token.punctuation + .token.punctuation ~ .token.punctuation {
   color: #D4D4D4;
 }
 .language-jsx .language-javascript .script-punctuation + .token.punctuation + .token.punctuation ~ .token.punctuation + .token.punctuation {
   color: #3F9CD6;
 }
