:host {
  display: block;
}

[part="grid"] {
  display: grid;
  grid-template-columns: auto 1.5rem;
}

[part="icon"] {
  grid-row: 1;
  grid-column: 2;
  pointer-events: none;
  transform: translate(calc(-0.35rem + 1px), calc(0.25rem + 1px));
}

[part="input"] {
  grid-row: 1;
  grid-column: 1 / span 2;
}

[part="input"]:focus + [part="icon"] {
  --mdi-icon-color: #4f8ff9;
}