:host {
  display: flex;
  flex-direction: column;
  color: #453C4F;
}

.invalid {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

h2 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0.5rem 0 0.5rem 0;
}

/* Individual Templates */

[part="news"] {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  grid-template-rows: 3.25rem auto;
  padding: 0.25rem;
}
[part="news"] [part="avatar"] {
  grid-column: 1;
}
[part="news"] [part="label"] {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  padding-right: 0.5rem;
}
[part="news"] [part="markdown"] {
  grid-column: 2;
  grid-row: 1 / span 2;
  border: 1px solid #DDD;
  padding: 0 1rem;
  background: #fff;
  border-radius: 0.25rem;
}

[part="iconCreated"],
[part="iconModified"],
[part="iconRenamed"],
[part="iconDeleted"],
[part="iconAliasCreated"],
[part="iconAliasDeleted"],
[part="iconTagCreated"],
[part="iconTagDeleted"],
[part="iconAuthorModified"],
[part="iconDeprecated"] {
  display: grid;
  grid-template-columns: 3.5rem 3.5rem 1fr auto auto;
  padding: 0.25rem;
}
[part="iconCreated"] [part="avatar"],
[part="iconModified"] [part="avatar"],
[part="iconRenamed"] [part="avatar"],
[part="iconDeleted"] [part="avatar"],
[part="iconAliasCreated"] [part="avatar"],
[part="iconAliasDeleted"] [part="avatar"],
[part="iconTagCreated"] [part="avatar"],
[part="iconTagDeleted"] [part="avatar"],
[part="iconAuthorModified"] [part="avatar"],
[part="iconDeprecated"] [part="avatar"] {
  grid-column: 1;
}
[part="iconCreated"] [part="icon"],
[part="iconModified"] [part="icon"],
[part="iconRenamed"] [part="icon"],
[part="iconDeleted"] [part="icon"],
[part="iconAliasCreated"] [part="icon"],
[part="iconAliasDeleted"] [part="icon"],
[part="iconTagCreated"] [part="icon"],
[part="iconTagDeleted"] [part="icon"],
[part="iconAuthorModified"] [part="icon"],
[part="iconDeprecated"] [part="icon"] {
  grid-column: 2;
  --mdi-icon-width: 3rem;
  --mdi-icon-height: 3rem;
  width: 3rem;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 0.25rem;
  align-self: flex-start;
}
[part="iconCreated"] [part="content"],
[part="iconModified"] [part="content"],
[part="iconRenamed"] [part="content"],
[part="iconDeleted"] [part="content"],
[part="iconAliasCreated"] [part="content"],
[part="iconAliasDeleted"] [part="content"],
[part="iconTagCreated"] [part="content"],
[part="iconTagDeleted"] [part="content"],
[part="iconAuthorModified"] [part="content"],
[part="iconDeprecated"] [part="content"] {
  grid-column: 3;
  align-content: center;
  display: flex;
  align-items: center;
}
[part="iconCreated"] [part="content"] code,
[part="iconModified"] [part="content"] code,
[part="iconRenamed"] [part="content"] code,
[part="iconDeleted"] [part="content"] code,
[part="iconAliasCreated"] [part="content"] code,
[part="iconAliasDeleted"] [part="content"] code,
[part="iconTagCreated"] [part="content"] code,
[part="iconTagDeleted"] [part="content"] code,
[part="iconAuthorModified"] [part="content"] code,
[part="iconDeprecated"] [part="content"] code {
  display: inline-block;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.125rem 0.25rem;
  border-radius: 0.125rem;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(69, 60, 79, 0.2);
  line-height: 1.125rem;
}
[part="iconCreated"] [part="issue"],
[part="iconModified"] [part="issue"],
[part="iconRenamed"] [part="issue"],
[part="iconDeleted"] [part="issue"],
[part="iconAliasCreated"] [part="issue"],
[part="iconAliasDeleted"] [part="issue"],
[part="iconTagCreated"] [part="issue"],
[part="iconTagDeleted"] [part="issue"],
[part="iconDescriptionModified"] [part="issue"],
[part="iconAuthorModified"] [part="issue"],
[part="iconDeprecated"] [part="issue"] {
  grid-column: 4;
  display: flex;
  align-self: center;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border: 1px solid #453C4F;
  color: #453C4F;
  border-radius: 0.25rem;
}
[part="iconCreated"] [part="issue"]:hover,
[part="iconModified"] [part="issue"]:hover,
[part="iconRenamed"] [part="issue"]:hover,
[part="iconDeleted"] [part="issue"]:hover,
[part="iconAliasCreated"] [part="issue"]:hover,
[part="iconAliasDeleted"] [part="issue"]:hover,
[part="iconTagCreated"] [part="issue"]:hover,
[part="iconTagDeleted"] [part="issue"]:hover,
[part="iconDescriptionModified"] [part="issue"]:hover,
[part="iconAuthorModified"] [part="issue"]:hover,
[part="iconDeprecated"] [part="issue"]:hover {
  background: #453C4F;
  color: #fff;
}
.edit [part="iconCreated"] [part="edit"],
.edit [part="iconModified"] [part="edit"],
.edit [part="iconRenamed"] [part="edit"],
.edit [part="iconDeleted"] [part="edit"],
.edit [part="iconAliasCreated"] [part="edit"],
.edit [part="iconAliasDeleted"] [part="edit"],
.edit [part="iconTagCreated"] [part="edit"],
.edit [part="iconTagDeleted"] [part="edit"],
.edit [part="iconDescriptionModified"] [part="edit"],
.edit [part="iconAuthorModified"] [part="edit"],
.edit [part="iconDeprecated"] [part="edit"] {
  display: flex;
}
[part="iconCreated"] [part="edit"],
[part="iconModified"] [part="edit"],
[part="iconRenamed"] [part="edit"],
[part="iconDeleted"] [part="edit"],
[part="iconAliasCreated"] [part="edit"],
[part="iconAliasDeleted"] [part="edit"],
[part="iconTagCreated"] [part="edit"],
[part="iconTagDeleted"] [part="edit"],
[part="iconDescriptionModified"] [part="edit"],
[part="iconAuthorModified"] [part="edit"],
[part="iconDeprecated"] [part="edit"] {
  display: none;
  grid-column: 5;
  align-self: center;
  padding: 0.25rem;
  border: 0;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
[part="iconCreated"] [part="edit"]:hover,
[part="iconModified"] [part="edit"]:hover,
[part="iconRenamed"] [part="edit"]:hover,
[part="iconDeleted"] [part="edit"]:hover,
[part="iconAliasCreated"] [part="edit"]:hover,
[part="iconAliasDeleted"] [part="edit"]:hover,
[part="iconTagCreated"] [part="edit"]:hover,
[part="iconTagDeleted"] [part="edit"]:hover,
[part="iconDescriptionModified"] [part="edit"]:hover,
[part="iconAuthorModified"] [part="edit"]:hover,
[part="iconDeprecated"] [part="edit"]:hover {
  background: #453C4F;
  --mdi-icon-color: #fff;
}

[part="iconDescriptionModified"] {
  display: grid;
  grid-template-columns: 3.5rem 3.5rem 1fr 0.5rem 1fr auto;
  grid-template-rows: auto auto;
  padding: 0.25rem;
}
[part="iconDescriptionModified"] [part="avatar"] {
  grid-column: 1;
  grid-row: 1 / span 2;
}
[part="iconDescriptionModified"] [part="icon"] {
  grid-column: 2;
  grid-row: 1 / span 2;
  --mdi-icon-width: 3rem;
  --mdi-icon-height: 3rem;
  width: 3rem;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 0.25rem;
  align-self: flex-start;
}
[part="iconDescriptionModified"] [part="iconDescriptionBefore"] {
  grid-column: 3;
  grid-row: 1 / span 2;
  border: 1px solid #DDD;
  padding: 0 1rem;
  background: #fff;
  border-radius: 0.25rem;
}
[part="iconDescriptionModified"] [part="iconDescriptionAfter"] {
  grid-column: 5;
  grid-row: 1 / span 2;
  border: 1px solid #DDD;
  padding: 0 1rem;
  background: #fff;
  border-radius: 0.25rem;
}
[part="iconDescriptionModified"] [part="issue"] {
  grid-column: 6;
  grid-row: 1;
  margin-left: 0.5rem;
}
[part="iconDescriptionModified"] [part="edit"] {
  grid-column: 6;
  grid-row: 2;
  justify-content: center;
  margin-top: 0.25rem;
}