:host {
  display: block;
  font-family: var(--mdi-font-family);
}

[part~=list] {
  width: 12rem;
  font-size: 1rem;
}

[part~=list] > div {
  display: none;
}

[part~=list] > div.show {
  display: grid;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.3);
}

[part~=close] {
  position: relative;
  left: 11.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 0.75rem;
  box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 0.4);
  padding: 0;
  color: rgba(69, 60, 79, 0.8);
}

[part~=close]:hover {
  box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 0.6);
  color: #453C4F;
  border-color: #453C4F;
}

[part~=close] svg {
  width: 1rem;
  height: 1rem;
}

[part=extension] {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

[part=extension] {
  color: #453C4F;
}

[part=extension] a.chrome {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  color: #453C4F;
  border: 1px solid #453C4F;
  border-radius: 0.25rem;
  padding: 0.4rem 0.9rem;
  justify-self: center;
  text-align: center;
  margin: 0.25rem;
}

[part=extension] a.firefox {
  display: flex;
  grid-row: 1;
  grid-column: 2;
  color: #453C4F;
  border: 1px solid #453C4F;
  border-radius: 0.25rem;
  padding: 0.4rem 0.9rem;
  justify-self: center;
  text-align: center;
  margin: 0.25rem;
}

[part=extension] a.chrome:hover,
[part=extension] a.firefox:hover {
  color: #fff;
  background: #453C4F;
}

[part=extension] a svg {
  width: 2rem;
  height: 2rem;
}

[part=extension] div.text {
  grid-row: 2;
  grid-column: 1 / span 2;
  text-align: center;
  margin-top: 0.25rem;
  font-weight: bold;
}