* {
  font-family: var(--mdi-font-family);
}

:host {
  display: block;
}

[part~=none] {
  display: none;
}

[part~=none].show {
  display: block;
}

[part~=grid] {
  position: relative;
}

[part~=grid] > button {
  border: 0;
  background: transparent;
  padding: 0.625rem;
  outline: none;
  width: 2.75rem;
  height: 2.75rem;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  border-radius: 0.25rem;
}

[part~=grid] > button.hover {
  background: rgba(0, 0, 0, 0.1);
}

[part~=grid] > button:focus,
[part~=grid] > button:active {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.0125rem 0.25rem rgba(0, 0, 0, 0.2) inset;
}

[part~=grid] > button > svg {
  fill: #453C4F;
  width: 1.5rem;
  height: 1.5rem;
}

[part~=grid] > button > svg {
  fill: #453C4F;
}

[part~=grid]::-webkit-scrollbar {
  width: 1em;
}

[part~=grid]::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 0.25rem;
}

[part~=grid]::-webkit-scrollbar-thumb {
  background-color: #453C4F;
  outline: 1px solid slategrey;
  border-radius: 0.25rem;
}