[part~=button] {
  display: flex;
  background: #737E9E;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  border: 1px solid #737E9E;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  color: #FFF;
  align-items: center;
  outline: 0;
  transition: border-color 0.1s ease-in;
  margin-bottom: 0.5rem;
  max-width: 18rem;
  font-size: 1rem;
  align-items: center;
}

[part~=loading] {
  height: 1.5rem;
  margin: -0.25rem 0.5rem -0.25rem -0.5rem;
}

[part~=button]:hover {
  border: 1px solid rgba(255, 255, 255, 0.75);
}

[part~=close] {
  height: 1rem;
}

[part~=closeIcon] {
  width: 1rem;
  height: 1rem;
}

[part~=loadingIcon] {
  animation: spin 2s infinite linear;
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 20rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

[part~=closeIcon] {
  margin-left: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.1s ease-in;
}

[part~=button]:hover [part~=closeIcon] {
  color: #fff;
}

.hide {
  display: none;
}

/* Error */

[part~=button].error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

[part~=button].error [part~=closeIcon] {
  color: rgba(114, 28, 36, 0.6);
}

[part~=button].error:hover {
  border-color: #721c24;
}

[part~=button].error:hover [part~=closeIcon] {
  color: #721c24;
}

/* Warning */

[part~=button].warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

[part~=button].warning [part~=closeIcon] {
  color: rgba(133, 101, 4, 0.6);
}

[part~=button].warning:hover {
  border-color: #856404;
}

[part~=button].warning:hover [part~=closeIcon] {
  color: #856404;
}